<h1>Fontes</h1>

<%= render 'partials/flash' %>

<p><%= link_to 'New source', new_source_path %></p>

<h3>Nacionais</h3>
<%= render partial: 'partials/sources_table', locals: {sources: @national} %>

<h3>Internationais</h3>
<%= render partial: 'partials/sources_table', locals: {sources: @international} %>

<h3>Blogues</h3>
<%= render partial: 'partials/sources_table', locals: {sources: @blogs} %>