<h1><%= @source.name %></h1>

<%= render 'partials/flash' %>

<%= link_to 'Editar fonte', edit_source_path %>

<p>URL: <%= link_to @source.url, @source.url %></p>

<h2>Feeds</h2>

<% @source.feeds.each do |feed| %>
	<h4><%= feed.name %></h4> 
	<p><%= link_to feed.url, feed.url %> | <%= feed.articles.size %> artigos | Última recolha em <%= feed.last_crawled %></p>
	<table class="full-width tablesorter">
		<thead>
			<tr>
				<th>Título</th>
				<th>Publicada</th>
				<th>Recolhida</th>
				<th>Twitter</th>
				<th>Facebook</th>
				<th>Tópicos</th>
				<th>Acções</th>
			</tr>			
		</thead>
		<tbody>
			<% feed.articles.limit(10).each do |article| %>
				<tr>
					<td>

	          <%= link_to article.title, article.url %>
	        </td>
					<td><%= article.pub_date %></td>
					<td><%= article.created_at.in_time_zone('Lisbon') %></td>
					<td><%= article.twitter_shares.to_i %></td>
					<td><%= article.facebook_shares.to_i %></td>
					<td><%# article.cats.map(&:name).join(', ') %></td>
					<td><%= link_to 'Apagar', article_path(article),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>